.header__title {
    text-align: center;
    margin-top: 0,5em;
    font-size: 50px;
}
body {
    background-image: url("background 1/beautiful-music-gjqa5ypu5uj62s1y.jpg")
}


div {
    display: grid;
    grid: 1fr 1fr 1fr 1fr /1fr 1fr 1fr;
    place-items: center;

}

img {
    height: 300px;
}