* {
    box-sizing: border-box;
}
h1 {
    color: #51c6b8; 
    text-align: center;
}

nav ul {
    /* list-style-type: none; */
    padding: 0;
    background-color: #333; 
}

nav li {
    display: inline;
    margin-right: 20px;
    color: white; 

}

nav a {
    text-decoration: none;
    color: inherit  ;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd; 
}
ul {
    list-style-type: disc;
    /* margin-left: 20px; */
}

footer {
    text-align: center;
    background-color: #51c6b8; 
    color: white;
    padding: 10px;
}


nav ul {
    margin: 0;

    /* background-color: blue; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav ul li {
    /* background-color: green; */
    margin: 0;
    padding: 1em 2em;
    transition: ease-in-out 500ms;

}

nav ul li:hover {
    background-color: #fff;
    color: #232323;
}